extends ../layout/index

block contenido
  div.py-10
    h1.text-4xl.my-10.font-extrabold.text-center Casual
      span.font-normal Parking
    h2.text-center.text-2xl.font-extrabold= pagina

    p.tex-xl.font-bold.text-center.my= mensaje