header.bg-gray-200.p-4 
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-hite.font-extrabold.text-center Casual
            span.font-normal Parking

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold")
            a(href="") Mis Garages
            a(href="") Mi Perfil
            a(class="bg-pink-500 hover:bg-pink-700 py-2 px-10 rounded-lg" href="") Cerrar Sesion